/* Кошка */
/* ФИКС ПОДСКАЗКИ */
.p-profiles .tooltip-details:has(.name[href*="characters/56979-"]) .inner .name-ru {
  font-size: 0;
}
.p-profiles .tooltip-details:has(.name[href*="characters/56979-"]) .inner .name-en {
  font-size: 0;
}
.p-profiles .tooltip-details:has(.name[href*="characters/56979-"]) .inner .name-ru::before {
  content: "Фелиция Харди";
  font-size: 13px;
}
.p-profiles .tooltip-details:has(.name[href*="characters/56979-"]) .inner .name-en::before {
  content: "Felicia Hardy";
  font-size: 13px;
}
.p-profiles .tooltip-details:has(.name[href*="characters/56979-"]) .inner .line .value {
  font-size: 0;
}
.p-profiles .tooltip-details:has(.name[href*="characters/56979-"]) .inner .line .value::after {
  content: "藤坂 公彦";
  font-size: 12px;
}

/* ТАЙТЛЫ */
/* Чёрная кошка */
[href*="animes/4657-"] {
  --show-default: 0;
  --custom-image: url(https://imgur.com/Pt5bcJc.png);
}
.p-profiles .tooltip-details:has(.name[href*="animes/4657-"]) .b-user_rate {
  display: none;
}
.p-profiles .tooltip-details:has(.name[href*="animes/4657-"]) .inner .name-ru {
  font-size: 0;
}
.p-profiles .tooltip-details:has(.name[href*="animes/4657-"]) .inner .name-en {
  font-size: 0;
}
.p-profiles .tooltip-details:has(.name[href*="animes/4657-"]) .inner .name-ru::before {
  content: "Чёрная кошка";
  font-size: 13px;
}
.p-profiles .tooltip-details:has(.name[href*="animes/4657-"]) .inner .name-en::before {
  content: "Black Cat";
  font-size: 13px;
}
.p-profiles .tooltip-details:has(.name[href*="animes/4657-"]) .inner .b-text_with_paragraphs {
  font-size: 0;
}
.p-profiles .tooltip-details:has(.name[href*="animes/4657-"]) .inner .b-text_with_paragraphs::before {
  content: "Чёрная Кошка возвращается и участвует в своей первой в истории серии! У Фелиции Харди есть вкус к самым изысканным вещам в жизни и определенный набор навыков, благодаря которым она может попасть в любой особняк, хранилище или музей, чтобы... приобрести эти самые изысканные вещи.";
  font-size: 12px;
}
.p-profiles .tooltip-details:has(.name[href*="animes/4657-"]) .inner .rating {
  font-size: 0;
}
.p-profiles .tooltip-details:has(.name[href*="mangas/49265-"]) .inner .rating::before {
  content: "6.72";
  font-size: 22px;
}
.p-profiles .tooltip-details:has(.name[href*="animes/4657-"]) .inner .line-container {
  display: none;
}
/* ПРОЧЕЕ */
.p-profiles .tooltip-details:has(.name[href*="characters/56979-"]) .inner .entry-56979 {
  display: none;
}

/* ПОСТЕР */
[href*="characters/56979-"] {
  --show-default: 0;
  --custom-image: url(https://imgur.com/cORp0qq.png);
}
[href*="characters/56979-"]:hover {
  --show-default: 0;
  --custom-image: url(https://imgur.com/srkTrAP.png);
}

/* ИМЯ СТРАНИЦА */
.cover[href*="characters/56979-"] .title span {
  display: none !important;
}
.cover[href*="characters/56979-"] .title::after {
  content: "Фелиция Харди";
}
